body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0c101b;
    margin: 0;
    padding: 0;
    color: #696f94;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #6475ac;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(192, 196, 255, 0.4);
  }
  
  h1, h2, h3 {
    text-align: center;
    color: #121416;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    background-color: #c0d6ff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    color: rgb(12, 10, 10);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tabs button:hover {
    background-color: #6274ad;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    width: 100%;
  }
  
  button[type="submit"], .submit-btn, .logout-btn, .registerBtn, .loginBtn {
    background-color: #0c0e16;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button[type="submit"]:hover, .submit-btn:hover, .logout-btn:hover, .registerBtn:hover, .loginBtn:hover {
    background-color: #0c0e16;
  }
  
  .message {
    text-align: center;
    color: rgb(0, 26, 255);
    font-weight: bold;
  }
  
  .welcome-message {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .quiz-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .quiz-btn {
    background-color: #b6caff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .quiz-btn:hover {
    background-color: #637aff;
  }
  
  .quiz-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .quiz-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .question-box {
    background-color: #e4f5fc;
    padding: 15px;
    border-radius: 10px;
  }
  
  .option-label {
    display: block;
    margin: 8px 0;
    font-weight: 500;
  }
  
  .score-result {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: #289fa7;
    font-weight: bold;
  }
  
  .user-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .user-card {
    background-color: #2f1c9b;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid #3359d6;
  }
  
  .user-name {
    margin-bottom: 10px;
    color: #1a1da7;
  }
  
  .hidden {
    display: none;
  }
  